{% load static %}

<div class="movie-items">
	<div class="container">
		<div class="row ipad-width">
			
            <div class="col-md-8">
                
                <div class="title-hd">
					<h2>in theater</h2>
					<a href="#" class="viewall">View all <i class="ion-ios-arrow-right"></i></a>
				</div>
				<div class="tabs">
					<ul class="tab-links">
						<li class="active"><a href="#tab1">#Popular</a></li>
						<li><a href="#tab2"> #Coming soon</a></li>
					</ul>
				    <div class="tab-content">
				        <div id="tab1" class="tab active">
				            <div class="row">
				            	<div class="slick-multiItem">
									{% for movie in theater_popular %}
				            		<div class="slide-it">
				            			<div class="movie-item">
					            			<div class="mv-img">
					            				<img src="{% static movie.img_src %}" alt="" width="{{ movie.img_width }}" height="{{ movie.img_height }}">
					            			</div> 
					            			<div class="hvr-inner">
					            				<a href="{% url 'movie_single' movie.id %}"> Read more <i class="ion-android-arrow-dropright"></i> </a>
					            			</div>
					            			<div class="title-in">
					            				<h6><a href="{% url 'movie_single' movie.id %}">{{ movie.movie_title }}</a></h6>
					            				<p><i class="ion-android-star"></i><span>{{ movie.lower_rating }}</span> /{{ movie.upper_rating }}</p>
					            			</div>
					            		</div>
				            		</div>
                                    {% endfor %}
				            	</div>
				            </div>
				        </div>
                        
				        <div id="tab2" class="tab">
				           <div class="row">
				            	<div class="slick-multiItem">
									{% for movie in theater_coming %}
				            		<div class="slide-it">
				            			<div class="movie-item">
					            			<div class="mv-img">
					            				<img src="{% static movie.img_src %}" alt="" width="{{ movie.img_width }}" height="{{ movie.img_height }}">
					            			</div>
					            			<div class="hvr-inner">
					            				<a href="{% url 'movie_single' movie.id %}"> Read more <i class="ion-android-arrow-dropright"></i> </a>
					            			</div>
					            			<div class="title-in">
					            				<h6><a href="{% url 'movie_single' movie.id %}">{{ movie.movie_title }}</a></h6>
					            				<p><i class="ion-android-star"></i><span>{{ movie.lower_rating }}</span> /{{ movie.upper_rating }}</p>
					            			</div>
					            		</div>
				            		</div>
                                    {% endfor %}
				            	</div>
				            </div>
				        </div>
				    </div>
				</div>
                
                <div class="title-hd">
					<h2>on tv</h2>
					<a href="#" class="viewall">View all <i class="ion-ios-arrow-right"></i></a>
				</div>
				<div class="tabs">
					<ul class="tab-links-2">
						<li><a href="#tab21">#Popular</a></li>
						<li class="active"><a href="#tab22"> #Coming soon</a></li>
					</ul>
				    <div class="tab-content">
				        <div id="tab21" class="tab">
				            <div class="row">
				            	<div class="slick-multiItem">
									{% for tv in tv_popular %}
				            		<div class="slide-it">
				            			<div class="movie-item">
					            			<div class="mv-img">
					            				<img src="{% static tv.img_src %}" alt="" width="{{ tv.img_width }}" height="{{ tv.img_height }}">
					            			</div>
					            			<div class="hvr-inner">
					            				<a href="{{ tv.anchor_url }}"> Read more <i class="ion-android-arrow-dropright"></i> </a>
					            			</div>
					            			<div class="title-in">
					            				<h6><a href="#">{{ tv.movie_title }}</a></h6>
					            				<p><i class="ion-android-star"></i><span>{{ tv.lower_rating }}</span> /{{ tv.upper_rating }}</p>
					            			</div>
					            		</div>
				            		</div>
                                    {% endfor %}
				            	</div>
				            </div>
				        </div>
                        
				        <div id="tab22" class="tab active">
				           <div class="row">
				            	<div class="slick-multiItem">
									{% for tv in tv_coming %}
				            		<div class="slide-it">
				            			<div class="movie-item">
					            			<div class="mv-img">
					            				<img src="{% static tv.img_src %}" alt="" width="{{ tv.img_width }}" height="{{ tv.img_height }}">
					            			</div>
					            			<div class="hvr-inner">
					            				<a href="{{ tv.anchor_url }}"> Read more <i class="ion-android-arrow-dropright"></i> </a>
					            			</div>
					            			<div class="title-in">
					            				<h6><a href="#">{{ tv.movie_title }}</a></h6>
					            				<p><i class="ion-android-star"></i><span>{{ tv.lower_rating }}</span> /{{ tv.upper_rating }}</p>
					            			</div>
					            		</div>
				            		</div>
                                    {% endfor %}
				            	</div>
				            </div>
				        </div>
				    </div>
				</div>
			</div>
            
			<div class="col-md-4">
				<div class="sidebar">
                    
                    <div class="ads">
						{% for ad in sidebar_ads %}
						    <img src="{% static ad.img_src %}" alt="" width="{{ ad.img_width }}" height="{{ ad.img_height }}">
                        {% endfor %}
					</div>
					
                    <div class="celebrities">
						<h4 class="sb-title">Spotlight Celebrities</h4>
						{% for celeb in celebrity_data %}
						<div class="celeb-item">
							<a href="{{ celeb.celebrity_url }}"><img src="{% static celeb.img_src %}" alt="" width="{{ celeb.img_width }}" height="{{ celeb.img_height }}"></a>
							<div class="celeb-author">
								<h6><a href="{{ celeb.anchor_url }}">{{ celeb.celebrity_name }}</a></h6>
								<span>{{ celeb.celebrity_type }}</span>
							</div>
						</div>
                        {% endfor %}
						<a href="#" class="btn">See all celebrities<i class="ion-ios-arrow-right"></i></a>
					</div>
                    
				</div>
			</div>
		</div>
	</div>
</div>